{% extends 'base.html' %}
{% load i18n l10n %}

{% block title %}{% trans 'Clubs' %}{% endblock %}

{% block content %}
    <div>
        <h1>{% trans 'Clubs' %}</h1>
        <div class="table-responsive-sm">
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'City' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for club in clubs %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'club_details' club.slug %}">{{ club.name }}</a></td>
                        <td>
                            {% if club.city %}
                                <a href="{% url 'city_page' club.city.slug %}">{{ club.city.name }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'List of all riichi mahjong clubs' %}">
    <meta property="og:description" content="{% trans 'List of all riichi mahjong clubs' %}">
{% endblock %}

